// .mat-menu-item {
//   outline-style:none !important;
// }

// .toolbar {
//   .nav-buttons {
//     ul li {
//       display: inline;
//       text-align: center;
//       padding: 15px;
//       outline-style:none;
//     }


//     span {
//       display: inline-block;
//       // width: 25%;
//       font-size: 16px;
//       padding: .75rem 0;
//       margin: 0;
//       text-decoration: none;
//       // color: white;
//       color: black;
//     }

//     ul li span,
//     ul li span:after,
//     ul li span:before {
//       transition: all .5s;
//     }

//     ul li span:hover {
//       color: #555;
//       cursor: pointer;
//     }

//     /* stroke */
//     ul li span {
//       position: relative;
//     }

//     ul li span:after{
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       margin: auto;
//       width: 0%;
//       content: '.';
//       color: transparent;
//       background: #aaa;
//       height: 1px;
//     }

//     ul li span:hover:after {
//       width: 100%;
//     }
//   }
// }


a {
	outline: none;
}

// .navbar-container {
// 	text-align: center;
// 	background-color: #009688;
// 	box-shadow: 0px -20px 5px 20px #333333;
// 	padding: 10px;
// 	font-size: 0;
// }

ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

ul li {
	display: inline-block;
	font-size: 16px;
}

ul li a {
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	transition: color 0.5s;
}

ul li .underline {
	height: 1px;
	background-color: transparent;
	width: 0%;
	transition: width 0.4s, background-color 0.5s;
	margin: 0 auto;
}

ul li.active-link .underline {
	width: 100%;
	background-color: black;
}

ul li:hover .underline {
	background-color: black;
	width: 100%;
}

ul li:active a {
	transition: none;
	color: black;
}

ul li:active .underline {
	transition: none;
	background-color: black;
}
.title {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
}
