.footer {
  background: #eee;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -40px;
  // display: flex;
  // z-index: 10;
}
