<div class="banner">
    <img class="image" src="../../assets/banner-images/SMB.jpg" alt="">
</div>

<div class="body">
  <h2 class="title">SHRI MADHUSUDAN BAPUJI</h2>
  <!-- <h3 class="subtitle">A GLANCE ON HIS LIFE</h3> -->

  <div class="separator"></div>
  <div class="middle-heading">
      <h2>BRIEF HISTORY ABOUT HIS LIFE</h2>
  </div>
  <div class="description">
    <p style="text-align: center;">
        By following the orders of his Spiritual Master Kirtananand Swami Srila Bhaktipada, Madhusudan Bapuji arrived in Ulhasnagar (India) in October 1992. Accepting new challenges and facing all struggles, He started preaching in India. His lectures and actions were creating a desire to live spiritually and enlightened pure love for Lord Krishna among everyone. While preaching the Lord’s name, He was also simultaneously working tirelessly to build a beautiful temple in which everyone can chant the holy name. And His dream soon came true on 3rd September 1999, when Lord Shri Shri Radha Vrindavanchandra got installed in Anand Vrindavan Dham, which has now become one of the most beautiful temples within Thane district. A centre for Devotional service of the Lord in which daily lectures are conducted on Bhagavad Gita and Srimad Bhagwatam, which fills the entire atmosphere with positivity through the holy name of Shri Krishna.
    </p>
    <p style="text-align: center;">
        He is a Spiritual Philosopher who gives discourses on Spiritual topics, mainly on Shrimad Bhagavad Geeta. His Divine Mission is to preach the holy name of Lord Krishna and make people chant the Divine Mantra Hare Kṛṣṇa Hare Kṛṣṇa Kṛṣṇa Kṛṣṇa Hare Hare Hare Rama Hare Rama Rama Rama Hare Hare. & He struggles tirelessly to accomplish His mission & transforming people’s material lives. Presently His main centre is in Ulhasnagar where He gives spiritual lectures on regular basis which are then circulated all over the world. He also has His centres in the cities of India such as Nagpur, Jaipur, Gujrat, Ahmedabad, and also out side India in Dubai, USA etc.
    </p>

  </div>
</div>
