<mat-divider></mat-divider>
<mat-tab-group class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Audio">
    <div class="paginator">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <!-- <mat-grid-list cols="4">
      <mat-grid-tile *ngFor="let audio of audios | paginate: { itemsPerPage: 10, currentPage: page }">
        <mat-card>
          <img class="audio-image" mat-card-image (click)="openDialog(audio)" src="../../assets/banner-images/app-logo-460x460.jpg" alt="">
          <mat-card-title (click)="openDialog(audio)" class="audio-title">{{audio?.title}}</mat-card-title>
          <mat-card-subtitle>{{audio?.subTitle}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->
    <mat-list class="audio-list">
      <mat-list-item *ngFor="let audio of audios | paginate: { itemsPerPage: 10, currentPage: page }">
        <img matListAvatar src="../../assets/banner-images/app-logo-460x460.jpg" alt="bapuji-img">
        <h3 class="audio-title" (click)="openDialog(audio)" matLine> {{audio?.title}} </h3>
        <p matLine>
          <span [style.color]="'gray'"> {{audio?.subTitle}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Video">
    <mat-grid-list cols="4" class="video-grid">
      <mat-grid-tile *ngFor="let video of videos">
        <div class="video-container">
          <div class="thumbnail">
            <iframe [src]="video?.videoUrl" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="content">
            <div class="title">
              <span>{{video?.title}}</span>
            </div>
            <div class="views">
              <span>{{video?.viewCount}}</span>
            </div>
          </div>
        </div>

      </mat-grid-tile>
    </mat-grid-list>

  </mat-tab>
</mat-tab-group>
