mat-card {
  width: 200px;
  height: 280px;

  .audio-title:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .audio-image:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.audio-list {
  // margin-left: 30px !important;
  .audio-title:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

mat-grid-list {
  height: 100vh;
  margin-top: 20px;
  padding-bottom: 0 !important;
}
.video-grid {
  width: 100%;
}
.video-container  {
  // width: 250px;
  // height: 280px;
  width: 100%;
  .content {
    padding: 10px;
    .title {
      color: #030303;
      font-weight: bold;
    }
    .views, .publishedAt {
      color: #606060;
    }
  }
}

.desktop {
  width: 250px;
  height: 280px;
}

.video-container:hover {
  cursor: pointer;
}
.paginator {
  text-align: center;
}

.thumbnail {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.5em;
    text-align: center;
    font: 40px/1.5 sans-serif;
    color: white;
    text-shadow: 0 0 0.5em black;
  }
}
.views::after {
  content: '•';
  margin: 7px;
}

.views-date {
  display: inline-flex;
}


.card {
  border: 0;
  width: 250px;
  height: 280px;
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}


