<mat-divider></mat-divider>
<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event)">
  <!-- AUDIO TAB -->
  <mat-tab label="Audio">

    <div class="paginator">
      <pagination-controls id="audio" (pageChange)="getPage($event, 'audio')"></pagination-controls>
    </div>
    <div *ngIf="audioLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <mat-list class="audio-list">
      <mat-list-item *ngFor="let audio of audios | paginate: { id: 'audio', itemsPerPage: 30, currentPage: audioPage, totalItems: audioTotal }">
        <img matListAvatar src="../../assets/banner-images/app-logo-460x460.jpg" alt="bapuji-img">
        <h3 class="audio-title" (click)="openDialog(audio, 'audio')" matLine> {{audio?.title}} </h3>
        <p matLine>
          <span [style.color]="'gray'"> {{audio?.subTitle}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <!-- VIDEO TAB -->
  <mat-tab label="Video">
    <div *ngIf="!videoLoading" class="paginator">
      <pagination-controls id="video" (pageChange)="getPage($event, 'video')"></pagination-controls>
    </div>
    <div *ngIf="videoLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- <div class="card-columns">
      <div class="card" *ngFor="let video of videos | paginate: { id: 'video', itemsPerPage: 30, currentPage: videoPage, totalItems: videoTotal }">
        <img class="card-img-top" [src]="video?.thumbnail" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{video?.title | shorten: 50}}</h5>
          <p class="card-text">{{video?.viewCount | shortNumber}} views</p>
        </div>
      </div>
    </div> -->


    <mat-grid-list [cols]="isMobile ? 1 : 4" [rowHeight]="isMobile ? 320 : 270" class="video-grid">
      <mat-grid-tile *ngFor="let video of videos | paginate: { id: 'video', itemsPerPage: 30, currentPage: videoPage, totalItems: videoTotal }">
        <div [ngClass]="{ 'desktop': !isMobile }" class="video-container">
          <div class="thumbnail" (click)="openDialog(video, 'video')">
            <span class="play-button">▶</span>
            <img [src]="video?.thumbnail" alt="video thumbnail">
          </div>
          <div class="content">
            <div class="title-date">
              <div class="title" (click)="openDialog(video, 'video')">
                <span>{{video?.title | shorten: 50}}</span>
              </div>
              <div class="views-date">
                <div class="views">
                  <span>{{video?.viewCount | shortNumber}} views</span>
                </div>
                <div class="publishedAt">
                  <span>{{video?.publishedAt | dateAgo}}</span>
                </div>
              </div>
            </div>
            <div class="share-btn" [matMenuTriggerFor]="menu">
              <span mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </span>
            </div>
            <mat-menu #menu="matMenu">
              <span (click)="copyLink(video.id)" mat-menu-item>Copy Link</span>
            </mat-menu>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>


