<mat-divider></mat-divider>
<mat-tab-group>
  <!-- AUDIO TAB -->
  <mat-tab label="Audio">

    <div class="paginator">
      <pagination-controls id="audio" (pageChange)="getPage($event, 'audio')"></pagination-controls>
    </div>
    <div *ngIf="audioLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <mat-list class="audio-list">
      <mat-list-item *ngFor="let audio of audios | paginate: { id: 'audio', itemsPerPage: 30, currentPage: audioPage, totalItems: audioTotal }">
        <img matListAvatar src="../../assets/banner-images/app-logo-460x460.jpg" alt="bapuji-img">
        <h3 class="audio-title" (click)="openDialog(audio, 'audio')" matLine> {{audio?.title}} </h3>
        <p matLine>
          <span [style.color]="'gray'"> {{audio?.subTitle}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <!-- VIDEO TAB -->
  <mat-tab label="Video">
    <div *ngIf="!videoLoading" class="paginator">
      <pagination-controls id="video" (pageChange)="getPage($event, 'video')"></pagination-controls>
    </div>
    <div *ngIf="videoLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <mat-grid-list cols="4" class="video-grid">
      <mat-grid-tile *ngFor="let video of videos | paginate: { id: 'video', itemsPerPage: 30, currentPage: videoPage, totalItems: videoTotal }">
        <div (click)="openDialog(video, 'video')" class="video-container">
          <div class="thumbnail">
            <span class="play-button">▶</span>
            <img [src]="video?.thumbnail" alt="video thumbnail">
          </div>
          <div class="content">
            <div class="title">
              <span>{{video?.title | shorten: 50}}</span>
            </div>
            <div class="views-date">
              <div class="views">
                <span>{{video?.viewCount | shortNumber}} views</span>
              </div>
              <div class="publishedAt">
                <span>{{video?.publishedAt | dateAgo}}</span>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
