<div class="container">
  <h1 class="title">NAAM KI MAHIMA - GLORIES OF THE HOLY NAME</h1>

  <h3 class="mahamantra">"HARE KRISHNA HARE KRISHNA KRISHNA KRISHNA HARE HARE</h3>
  <h3 class="mahamantra">HARE HARE RAMA HARE RAMA RAMA RAMA HARE HARE"</h3>

  <p class="description text-justify">In every era, there are different ways of realising God which are specific to that time
    period.
    However, in the present age of Kaliyug, it has become very easy to realise God by simply chanting the Holy names of
    Lord and participating in Hari Naam Sankirtan (The congregational chanting). There is no hard and fast rule to
    chant
    the Holy names of Krishna. The process of chanting is beyond the boundaries of country, time, circumstances,
    rituals
    and age. There is no difference between The Holy names of God and God Himself. Therefore, in this dark age of
    Kaliyug, the glories and the benefits of the Holy names are limitless. This booklet “The Glories of The Holy Name”
    is
    an effort to arise the Love of God, faith and trust within the core of your heart so that you surrender yourself to
    the transcendental sound of the Holy name and embark your journey back to home, back to Godhead.
  </p>

  <p>— Shri Madhusudan Bapuji</p>

  <!-- <h3 class="download">Download</h3> -->
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col">
      <div class="hindi container-fluid d-flex justify-content-center">
        <div class="card">
          <img class="card-img-top" src="../../assets/banner-images/hindi.png" alt="Card image cap">
          <div class="card-body">
            <a target="_blank" href="https://avd-bapuji.sfo2.digitaloceanspaces.com/NKM/Naam-Ki-Mahima-Hindi.pdf">Download</a>
          </div>
        </div>

        <!-- <div class="link">
          <a target="_blank" href="https://avd-bapuji.sfo2.digitaloceanspaces.com/NKM/Naam-Ki-Mahima-Hindi.pdf">Naam Ki Mahima - Hindi</a>
        </div>
        <div class="row image">
          <img src="../../assets/banner-images/hindi.png" alt="preview-hindi">
        </div> -->
      </div>
      </div>
      <div class="col">
        <div class="english container-fluid d-flex justify-content-center">
          <div class="card">
            <img class="card-img-top" src="../../assets/banner-images/english.jpg" alt="Card image cap">
            <div class="card-body">
              <a target="_blank" href="https://avd-bapuji.sfo2.digitaloceanspaces.com/NKM/Naam-Ki-Mahima-English.pdf">Download</a>
            </div>
          </div>
          <!-- <div class="link">
            <a target="_blank" href="https://avd-bapuji.sfo2.digitaloceanspaces.com/NKM/Naam-Ki-Mahima-English.pdf">Naam Ki Mahima - English</a>
          </div>
          <div class="image">
            <img src="../../assets/banner-images/english.jpg" alt="preview-english">
          </div> -->
        </div>
        </div>
    </div>

    </div>
  <!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="container-fluid hindi-download">
        <div class="link">
          <a target="_blank" href="https://avd-bapuji.sfo2.digitaloceanspaces.com/NKM/Naam-Ki-Mahima-Hindi.pdf">Naam Ki Mahima - Hindi</a>
        </div>
        <div class="image">
          <img src="../../assets/banner-images/hindi.png" alt="preview-hindi">
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container-fluid english-download">
        <div class="link">
          <a target="_blank" href="https://avd-bapuji.sfo2.digitaloceanspaces.com/NKM/Naam-Ki-Mahima-English.pdf">Naam Ki Mahima - English</a>
        </div>
        <div class="image">
          <img src="../../assets/banner-images/english.jpg" alt="preview-english">
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->
