mat-grid-list {
  height: 100vh;
  margin-top: 20px;
  padding-bottom: 0 !important;
}

mat-card {
  width: 200px;
  height: 280px;

  .album-title:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .album-image:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
