.banner-image {
  text-align: center;
  img {
    width: 98%;
  }
}

.heading {
  text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.event-title {
}

.separator {
  background: black;
  width: 150px;
  height: 3px;
  margin: 0 auto;
}
.description {
  font-family: 'Karla', sans-serif;
  // font-weight: 400;
  line-height: 1.5em;
  padding-right: 40px;
  padding-left: 40px;
  // text-align: center;
}



.image-section {

}
.video-section {

}
